.score-box {
    display: flex;
    align-items: center;
}

.score-icon {
    width: 35px;
    height: 35px;
    margin-right: 0.40rem;
}

.score-content {
    font-size: var(--font-28);
}

@media (max-width: 450px) {
    .score-box {
        flex-direction: column;
    }

    .score-icon {
        margin-right: 0;
    }
}