.characters-box {
    margin: var(--margin-vertical) 0;
    display: flex;
    align-items: center;
}

.characters-title {
    font-style: italic;
    font-size: var(--font-14);
    margin-right: var(--margin-horizontal);
    font-weight: 500;
}

.characters-line {
    width: 100%;
    border-top: solid 1px var(--color-black);
}