.card-movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding-card);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-card);
}

.card-movie--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

