.go-to-favorites {
    width: 13rem;
    height: 50px; 
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-roboto);
    text-transform: uppercase;
    letter-spacing: var(--letter-space);
    border: none;
    border-radius: var(--border-button);
    cursor: pointer;
}

@media (max-width: 900px) {
    .go-to-favorites {
        width: 10rem;
    }
}

@media (max-width: 450px) {
    .go-to-favorites {
        width: 6rem;
    }
}