.back-to-movies {
    text-transform: uppercase;
    font-size: var(--font-14);
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 450px) {
    .back-to-movies {
        font-size: var(--font-11);
    }
}