.card-detail {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: var(--white);
    padding: var(--card-padding);
    border-radius: var(--border-card);
    box-shadow: var(--box-shadow);
}

.card-detail--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-detail--favorite {
    display: flex;
    align-items: center;
}

.card-detail--favorite > div {
    margin-left: 20px;
}