.card-detail {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: var(--color-white);
    padding: var(--padding-card);
    border-radius: var(--border-card);
    box-shadow: var(--box-shadow);
}

.card-detail--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-detail--favorite {
    display: flex;
    align-items: center;
}

.card-detail--favorite > div {
    margin-left: var(--margin-horizontal);
}