
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg: #FAFAFA;
    --color-white: #FFFFFF;
    --color-black: #0A0A0B;
    --color-red: #CC0C0C;
    --color-grey: #E2E2E2;
    --box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    --font-roboto: 'Roboto', sans-serif;
    --font-11: 0.68rem;
    --font-13: 0.81rem;
    --font-14: 0.87rem;
    --font-16: 1.25rem;
    --font-22: 1.37rem;
    --font-28: 1.75rem;
    --font-40: 2.5rem;
    --letter-space: 0.15rem;
    --border-button: 0.3rem;
    --border-card: 0.5rem;
    --padding-card: 1.5rem;
    --margin-horizontal: 1.25rem;
    --margin-vertical: 1.25rem;
}

html {
    background-color: var(--color-bg);
    font-family: var(--font-roboto);
    font-size: var(--font-16);
    color: var(--color-black);
}

button {
    background-color: transparent;
    border: none;
    outline-style: none;
}

.container {
    width: 70%;
    margin: 10vh auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--margin-vertical);
}

.card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .card-box {
        grid-template-columns: 1fr;
    }
}





